doctype 5
HTML
    HEAD
        | <meta charset="utf-8"/>
        title Group :  #{name}

        link(href="/bootstrap/css/bootstrap.css", rel="stylesheet")
        style
            body {
                padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
            }
        link(href="/bootstrap/css/bootstrap-responsive.css", rel="stylesheet")

        //link(href='/main.css', rel='stylesheet')
        | <meta name="viewport" content="width=device-width, initial-scale=1"/>
    BODY
        HEADER
            .navbar.navbar-fixed-top
                #logo 
                    p mobvite
                #login 
                    p register or login and navigation
        .container
            #group.span3
                #name #{name}
                #date #{meta.date}
                #venue #{meta.place}
                #email #{owner}
            #posts.span6
                p.post Say something that is a bit longer than just two words. maybe a sentence or a complete though. don't have to limit it to 140 chars but keep it short.
                p.post Say something that is a bit longer than just two words. maybe a sentence or a complete though. don't have to limit it to 140 chars but keep it short.
                p.post Say something that is a bit longer than just two words. maybe a sentence or a complete though. don't have to limit it to 140 chars but keep it short.
                p.post Say something that is a bit longer than just two words. maybe a sentence or a complete though. don't have to limit it to 140 chars but keep it short.
                p.post Say something that is a bit longer than just two words. maybe a sentence or a complete though. don't have to limit it to 140 chars but keep it short.
